.button {
    width: 87px;
    height: 27px;
    padding: 4px 15px 4px 15px;
    gap: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.light {
    background-color: #d7ed73;
    color: #000000;
}

.light:hover {
    background-color: #ebfaa7;
    color: #000000;
}

.dark {
    background-color: #353535;
    color: #ffffff;
}

.dark:hover {
    background-color: #838383;
    color: #ffffff;
}
